{% extends 'master' %}

{% block css %}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block content %}
    <login id="{{ room_id }}"></login>
{% endblock %}
