{% extends 'master' %}

{% block css %}
    <link rel="stylesheet" href="/css/room.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="md">
            <div class="before">

            </div>
            <div class="after">

            </div>
        </div>
    </div>

    <script src="/js/lobby.js"></script>
{% endblock %}
