body {
    background: #27313D;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.room-number {
    position: absolute;
    color: #fff;
    font-weight: 600;
    left: 20px;
    top: 15px;
    font-size: 16px;
}

.md {
    width: 1200px;
    height: 80vh;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -.4em;
    border: solid 10px #DE4830;
    box-sizing: border-box;
    border-radius:3px;
}

.md .before {
    width: 50%;
    height: 100%;
    display: inline-block;
    letter-spacing: normal;
}

.md .before textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px;
    box-sizing: border-box;
    background:#F7F7F7;
    outline: none;
    overflow-y: auto;
    border:solid 0px;
    border-right:solid 1px #27313D;
}

.md .after {
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    background:#F7F7F7;
    padding: 20px;
    box-sizing: border-box;
    letter-spacing: 2px;
}
.md .after h1{
    border-bottom:solid 1px ;
    font-size:30px;
}

/*.sidebar {*/
 /**/
/*}*/

/*.sidebar .invite {*/
    /*height: 86.666666667px;*/
    /*margin-bottom: 10px;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

/*.sidebar .invite p {*/
    /*color: #27313D;*/
    /*font-weight: 600;*/
/*}*/

/*.sidebar .import {*/
    /*height: 86.666666667px;*/
    /*margin-bottom: 10px;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

/*.sidebar .import p {*/
    /*color: #27313D;*/
    /*font-weight: 600;*/
/*}*/

/*.sidebar .export {*/
    /*height: 86.666666667px;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

/*.sidebar .export p {*/
    /*color: #27313D;*/
    /*font-weight: 600;*/
/*}*/