body{
    background: #27313D;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

.container{
    width:1200px;
    height:90vh;
    background:#fff;
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.md{
    height:100%;
    letter-spacing: -.4em;
}
.md .before{
    width:50%;
    height:100%;
    overflow-y:scroll;
    display: inline-block;
    letter-spacing: normal;
}
.md .after{
    display: inline-block;
    width:50%;
    height:100%;
    overflow-y:scroll;
    letter-spacing: normal;
}